<!doctype html>
<html class="no-js" lang="zxx">
<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>F-Lancer | Freelancer Portal</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="manifest" href="site.webmanifest">
<link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="https://cdn.usebootstrap.com/bootstrap/5.0.1/css/bootstrap.min.css " />
<link rel="stylesheet" href="css/home.css">
<body>


<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
        <a class="navbar-brand" href="#">F-Lancer</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Find a Job</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Profile View </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About Us </a>
                </li>
              
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact Us</a>
                </li>
            </ul>
            
                  <button class="btn btn-light ms-3">Register</button>
                   <button class="btn btn-light ms-3">Login</button>
            </div>
        </div>
    </div>
</nav>
  
</header>


<main>

<div class="slider-area ">

<div class="slider-active">
<div class="single-slider slider-height d-flex align-items-center" data-background="assets/img/hero/h1_hero.jpg">
<div class="container">
<div class="row">
<div class="col-xl-6 col-lg-9 col-md-10">
<div class="hero__caption"> 
<h1>Find the most exciting startup jobs</h1>
</div>
</div>
<div class="col hero__image">
  <img src="./assets/images/undraw_Welcoming_re_x0qo.png">
</div>
</div>

<div class="row ">
<div class="col search">
  <form class="d-flex">
    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success" type="submit">Search</button>
  </form>
</div>
</div>
</div>
</div>
</div>
</div>


<div class="our-services section-pad-t30">
<div class="container">

<div class="row">
<div class="col-lg-12">
<div class="section-tittle text-center">
<span style="color:green ">FEATURED TOURS PACKAGES</span>
<h2>Browse Top Categories </h2>
</div>
</div>
</div>
<div class="row d-flex justify-contnet-center">
<div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
<div class="card single-services text-center mb-30">
<div class="services-ion">
<span class="flaticon-tour"></span>
</div>
<div class="services-cap">
<h5><a href="job_listing.html">Design & Creative</a></h5>
<span>(653)</span>
</div>
</div>
</div>
<div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
<div class="card single-services text-center mb-30">
<div class="services-ion">
<span class="flaticon-cms"></span>
</div>
<div class="services-cap">
<h5><a href="job_listing.html">Design & Development</a></h5>
<span>(658)</span>
</div>
</div>
</div>
<div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
<div class="card single-services text-center mb-30">
<div class="services-ion">
<span class="flaticon-report"></span>
</div>
<div class="services-cap">
<h5><a href="job_listing.html">Sales & Marketing</a></h5>
<span>(658)</span>
</div>
</div>
</div>
<div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
<div class="card single-services text-center mb-30">
<div class="services-ion">
<span class="flaticon-app"></span>
</div>
<div class="services-cap">
<h5><a href="job_listing.html">Mobile Application</a></h5>
<span>(658)</span>
</div>
</div>
</div>
<div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
<div class="card single-services text-center mb-30">
<div class="services-ion">
<span class="flaticon-helmet"></span>
</div>
<div class="services-cap">
<h5><a href="job_listing.html">Construction</a></h5>
<span>(658)</span>
</div>
</div>
</div>
<div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
<div class="card single-services text-center mb-30">
<div class="services-ion">
<span class="flaticon-high-tech"></span>
</div>
<div class="services-cap">
<h5><a href="job_listing.html">Information Technology</a></h5>
<span>(658)</span>
</div>
</div>
</div>
<div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
<div class="card single-services text-center mb-30">
<div class="services-ion">
<span class="flaticon-real-estate"></span>
</div>
<div class="services-cap">
<h5><a href="job_listing.html">Real Estate</a></h5>
<span>(658)</span>
</div>
</div>
</div>
<div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
<div class="card single-services text-center mb-30">
<div class="services-ion">
<span class="flaticon-content"></span>
</div>
<div class="services-cap">
<h5><a href="job_listing.html">Content Writer</a></h5>
<span>(658)</span>
</div>
</div>
</div>
</div>



</div>
</div>


<div class="apply-process-area apply-bg pt-150 pb-150" data-background="assets/img/gallery/how-applybg.png">
<div class="container">

<div class="row">
<div class="col-lg-12">
<div class="section-tittle white-text text-center">
<h2>Apply process</h2>
<h3> How it works</h3>
</div>
</div>
</div>

<div class="row">
<div class="col-lg-4 col-md-6">
<div class="card single-process text-center mb-30">
<div class="process-ion">
<span class="flaticon-search"></span>
</div>
<div class="process-cap">
<h5>1. Search a Freelancer job</h5>
<p>Search for a good Freelacing work</p>
</div>
</div>
</div>
<div class="col-lg-4 col-md-6">
<div class="card single-process text-center mb-30">
<div class="process-ion">
<span class="flaticon-curriculum-vitae"></span>
</div>
<div class="process-cap">
<h5>2. Apply for job</h5>
<p>Smoothly Apply for this freelancing work by contacting with client</p>
</div>
</div>
</div>
<div class="col-lg-4 col-md-6">
<div class="card  single-process text-center mb-30">
<div class="process-ion">
<span class="flaticon-tour"></span>
</div>
<div class="process-cap">
<h5>3. Get your job</h5>
<p>Hurray! You got a work</p>
</div>
</div>
</div>
</div>
</div>
</div>


<div class="support-company-area support-padding fix p-3">
<div class="container">
<div class="row align-items-center">
<div class="col-xl-6 col-lg-6">
<div class="right-caption">

<div class="section-tittle section-tittle2">
<span style="color: red;">What we are doing</span>
<h2>24k Talented people are getting Jobs</h2>
</div>
<div class="support-caption">
<p class="pera-top"> From this website, many people got freelancing job</p>
<a href="about.html" class="btn post-btn">Post a job</a>
</div>
</div>
</div>

<div class="col">
  <img src="./assets/images/undraw_personal_finance_tqcd.png" width="500px">
</div>
</div>
</div>
</div>
</div>

</main>


<footer>

<div class="footer-area footer-bg footer-padding">
<div class="container">
<div class="row d-flex justify-content-between">
<div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
<div class="single-footer-caption mb-50">
<div class="single-footer-caption mb-30">
<div class="footer-tittle">
<h4>Team Information</h4>
<div class="footer-pera">
<p>  Kaushal Agrawal</p>
<p>  Prakhar Mishra</p>
<p>  Vishal Sony</p>
<p>Akshay Khandelwal</p>
</div>
</div>
</div>
</div>
</div>
<div class="col-xl-3 col-lg-3 col-md-4 col-sm-5">
<div class="single-footer-caption mb-50">
<div class="footer-tittle">
<h4>Contact Info</h4>
<ul>
 
<li><a href="#">Phone : +91 8824024769</a></li>
<li><a href="#">Email : <span class="__cf_email__" data-cfemail="adc4c3cbc2edcec2c1c2dfc1c4cf83cec2c0">kaushalagr.02@gmail.com</span></a></li>
</ul>
</div>
</div>
</div>
<div class="col-xl-3 col-lg-3 col-md-4 col-sm-5">
<div class="single-footer-caption mb-50">
<div class="footer-tittle">
<h4>Important Links</h4>
<ul>
<li><a href="#"> View Profile</a></li>
<li><a href="#">Contact Us</a></li>
<li><a href="#">About Us</a></li>
 
</ul>
</div>
</div>
</div>
<div class="col-xl-3 col-lg-3 col-md-4 col-sm-5">
<div class="single-footer-caption mb-50">
<div class="footer-tittle">
<h4>Newsletter</h4>
<div class="footer-pera footer-pera2">
 

<div class="footer-form">
<div id="mc_embed_signup">
<form target="_blank" action="" class="subscribe_form relative mail_part">
<input type="email" name="email" id="newsletter-form-email" placeholder="Email Address" class="placeholder hide-on-focus" onfocus="this.placeholder = ''" onblur="this.placeholder = ' Email Address '">
<div class="form-icon">
<button type="submit" name="submit" id="newsletter-submit" class="email_icon newsletter-submit button-contactForm">Subscribe</button>
</div>
<div class="mt-10 info"></div>
</form>
</div>
</div>
</div>
</div>
</div>
</div>


<div class="footer-bottom-area  footer-bg">
<div class="container">
<div class="footer-border">
<div class="row d-flex justify-content-between align-items-center">
<div class="col-xl-10 col-lg-10 ">
<div class="footer-copy-right">
<p>
Copyright &copy; All rights reserved | This website is made under Hackmol 3.0 Hackathon
</p>
</div>
</div>
<div class="col-xl-2 col-lg-2">
<div class="footer-social f-right">
 
 
 
</div>
</div>
</div>
</div>
</div>
</div>

</footer>


</body>
</html>